<div class="container mx-auto flex justify-center mt-4 columns-3">
<div class="w-f32 m-4">
    <div class="p-4 border roundedflex items-center fles-row mb-2">
<h2>{{ product.title }}</h2>
<img [src]="product.image" [alt]="product.title">
    </div>
</div>
<div class="w-f32 m-4">
    <div class="p-4 border roundedflex items-center fles-row mb-2">
<h2>{{ product.title }}</h2>
<img [src]="product.image" [alt]="product.title">
    </div>
</div>
<div class="w-f32 m-4">
    <div class="p-4 border roundedflex items-center fles-row mb-2">
<h2>{{ product.title }}</h2>
<img [src]="product.image" [alt]="product.title">
    </div>
</div>
</div>